.card {
  background-color: rgba(240, 255, 255, 0.5);
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid darkslategrey;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.info > .card:hover {
  transform: scale(1.001);
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.5);
}
.info {
  display: flex;
  flex-direction: column;
}
.info img {
  height: 40px;
}
h2 {
  text-decoration: underline;
  text-align: center;
}
.content {
  display: flex;
  justify-content: center;
}
table {
  margin: 20px;
}
/* .details>.card {
  display:none;
} */
/* .details>.card {
  position:absolute;
  top:20%;
} */
